body {
    padding: 0 0;
    text-align: center;
}
#example {
    font-size: 24pt;
    margin-top: -8px;
}
#notes {
    font-size: 24pt;
    margin-top: 50px;
}
#canvas {
    width: 100%;
    height: 110px;
    position:absolute;
    left: 0;
    top: 50px;
    z-index:-1;
}
.example {
    margin-top: -5px;
    color: white;
}
.notes {
    text-align: left;
}